NODE_ENV=
PORT=
HOST=
ENABLE_FILE_LOGGING

# Database
DATABASE_URL=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=

#Cloud
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FRONTEND_URL=
API_PUBLIC_URL=

# JWT
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# Payos
CLIENT_ID=
API_KEY=
CHECKSUM_KEY=
PAYOS_RETURN_URL=
PAYOS_CANCEL_URL=
PAYOS_WEBHOOK_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
GOOGLE_OAUTH_CODE_TTL_SECONDS=